# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://dssyohbyemalhcaorjkj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRzc3lvaGJ5ZW1hbGhjYW9yamtqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIxMzIzNDYsImV4cCI6MjA5NzcwODM0Nn0.VBmlZB8JtoK9O48wbJLCeqpbW5TbDbGPZR0UDWNVQyE
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRzc3lvaGJ5ZW1hbGhjYW9yamtqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjEzMjM0NiwiZXhwIjoyMDk3NzA4MzQ2fQ.LQJEvJUecpX9qGmF614xpad1WYINGoj9FLOMkrz0xN0

# Email (Resend)
RESEND_API_KEY=your-resend-api-key
EMAIL_FROM=noreply@charelmediagroup.com

# App URL
NEXT_PUBLIC_APP_URL=https://charelmediagroup.com
